<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Listings</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

 <% layout('layouts/boilerplate') -%>

<div class="listings-container">
  

  <div class="listings-grid">
    <% for (let list of lists) { %>
      <a href="/listings/<%= list._id %>" class="listing-card">
        <img src="<%= list.image.url %>" alt="<%= list.title %>">
        <h3><%= list.title %></h3>
        <h3><i class="fa-solid fa-indian-rupee-sign"></i><%= list.price %></h3>
        
      </a>
    <% } %>
  </div>
</div>


  

</body>
</html>

